<section id="best-seller" class="main-item">
    <div class="inner-wrapper">
        <header>
            <h2 class="blind">베스트셀러 - 후기가 증명하는 베스트 반찬</h2>
            <img src="./img/txt-header-best.png" alt="베스트셀러 - 후기가 증명하는 베스트 반찬">
        </header>

        <div class="tab-box">
            <ul class="tab-btn-box" id="bestCategoryBox">

            </ul>

            <ul class="tab-content-group-box" id="bestCategorySideDishBox">

            </ul>
            <!-- .tab-content-group-box -->
        </div>
        <!-- .tab-box -->
    </div>
</section>