<section id="main-dish" class="main-item sliding-list-section">
    <header>
        <h2 class="blind">메인반찬 - 담기만 하면 완성되는 메인반찬</h2>
        <img src="./img/txt-header-main.png" alt="메인반찬 - 담기만 하면 완성되는 메인반찬">
    </header>

    <div class="sliding-list-box">
        <div class="direction-btn-box">
            <a class="btn prev" href="#" title="이전 리스트 보기">
                <i class="bm-icon spr-btn-arrow-sliding-list prev"></i>
            </a>
            <a class="btn next" href="#" title="다음 리스트 보기">
                <i class="bm-icon spr-btn-arrow-sliding-list next"></i>
            </a>
        </div>

        <ul class="content-group"></ul>
    </div>
    <!-- .sliding-list-box -->

    <a href="#" class="more">메인반찬 전체보기
        <i class="bm-icon btn-arrow-more"></i>
    </a>
</section>