<section id="main-visual" class="main-visual-section visual-slider-box">
    <h2 class="blind">주요 프로모션</h2>
    <ul class="img-box">
        {{#promotions}}
        <li class="img-item img-{{@index_1}}" style="background-image: url('{{imageUrl}}'); float: none; list-style: none; position: absolute; width: 538px; z-index: 0; display: none;">
            <a href="#">
                <span class="blind">{{title}}</span>
            </a>
        </li>
        {{/promotions}}
    </ul>

    <div class="direction-btn-box">
        <a class="bm-icon spr-btn-arrow-main-slide prev" href="#" title="이전 슬라이드 보기"></a>
        <a class="bm-icon spr-btn-arrow-main-slide next" href="#" title="다음 슬라이드 보기"></a>
    </div>

    <div class="dot-btn-box">
        <a class="dot on" href="#"></a>
        <a class="dot" href="#"></a>
        <a class="dot" href="#"></a>
        <a class="dot" href="#"></a>
        <a class="dot" href="#"></a>
    </div>
</section>