<section id="side-dish" class="main-item sliding-list-section">
    <header>
        <h2 class="blind">밑반찬 - 언제 먹어도 든든한 밑반찬</h2>
        <img src="./img/txt-header-side.png" alt="밑반찬 - 언제 먹어도 든든한 밑반찬">
    </header>

    <div class="sliding-list-box">
        <div class="direction-btn-box">
            <a class="btn prev" href="#" title="이전 리스트 보기">
                <i class="bm-icon spr-btn-arrow-sliding-list prev"></i>
            </a>
            <a class="btn next" href="#" title="다음 리스트 보기">
                <i class="bm-icon spr-btn-arrow-sliding-list next"></i>
            </a>
        </div>


        <ul class="content-group">
            <li>
                <ul class="content-box">
                    <li>
                        <a class="thumbnail-box" href="#">
                            <div class="thumbnail">
                                <img src="./img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                                <div class="overlay">
                                    <p class="txt">새벽배송</p>
                                    <p class="txt">전국택배</p>
                                </div>
                            </div>

                            <dl class="content">
                                <dt class="title">[집밥의완성] 1월 제철박스 제철박스 제철박스 제철박스 제철박스 제철박스</dt>
                                <dd class="desc">둘이서 한 끼 먹기 딱 좋아요. 둘이서 한 끼 먹기 딱 좋아요. 둘이서 한 끼 먹기 딱 좋아요</dd>
                                <dd class="price-wrapper">
                                    <span class="original-price">22,900</span>
                                    <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                                </dd>
                                <dd class="badge-wrapper">
                                    <i class="bm-icon badge-event">이벤트특가</i>
                                </dd>
                            </dl>
                        </a>
                    </li>

                    <li>
                        <a class="thumbnail-box" href="#">
                            <div class="thumbnail">
                                <img src="./img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                                <div class="overlay">
                                    <p class="txt">새벽배송</p>
                                    <p class="txt">전국택배</p>
                                </div>
                            </div>

                            <dl class="content">
                                <dt class="title">[집밥의완성] 1월 제철박스</dt>
                                <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                                <dd class="price-wrapper">
                                    <span class="original-price">22,900</span>
                                    <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                                </dd>
                                <dd class="badge-wrapper">
                                    <i class="bm-icon badge-event">이벤트특가</i>
                                </dd>
                            </dl>
                        </a>
                    </li>

                    <li>
                        <a class="thumbnail-box" href="#">
                            <div class="thumbnail">
                                <img src="./img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                                <div class="overlay">
                                    <p class="txt">새벽배송</p>
                                    <p class="txt">전국택배</p>
                                </div>
                            </div>

                            <dl class="content">
                                <dt class="title">[집밥의완성] 1월 제철박스</dt>
                                <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                                <dd class="price-wrapper">
                                    <span class="original-price">22,900</span>
                                    <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                                </dd>
                                <dd class="badge-wrapper">
                                    <i class="bm-icon badge-event">이벤트특가</i>
                                </dd>
                            </dl>
                        </a>
                    </li>

                    <li>
                        <a class="thumbnail-box" href="#">
                            <div class="thumbnail">
                                <img src="./img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                                <div class="overlay">
                                    <p class="txt">새벽배송</p>
                                    <p class="txt">전국택배</p>
                                </div>
                            </div>

                            <dl class="content">
                                <dt class="title">[집밥의완성] 1월 제철박스</dt>
                                <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                                <dd class="price-wrapper">
                                    <span class="original-price">22,900</span>
                                    <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                                </dd>
                                <dd class="badge-wrapper">
                                    <i class="bm-icon badge-event">이벤트특가</i>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <ul class="content-box">
                    <li>
                        <a class="thumbnail-box" href="#">
                            <div class="thumbnail">
                                <img src="./img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                                <div class="overlay">
                                    <p class="txt">새벽배송</p>
                                    <p class="txt">전국택배</p>
                                </div>
                            </div>

                            <dl class="content">
                                <dt class="title">[집밥의완성] 1월 제철박스</dt>
                                <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                                <dd class="price-wrapper">
                                    <span class="original-price">22,900</span>
                                    <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                                </dd>
                                <dd class="badge-wrapper">
                                    <i class="bm-icon badge-event">이벤트특가</i>
                                </dd>
                            </dl>
                        </a>
                    </li>

                    <li>
                        <a class="thumbnail-box" href="#">
                            <div class="thumbnail">
                                <img src="./img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                                <div class="overlay">
                                    <p class="txt">새벽배송</p>
                                    <p class="txt">전국택배</p>
                                </div>
                            </div>

                            <dl class="content">
                                <dt class="title">[집밥의완성] 1월 제철박스</dt>
                                <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                                <dd class="price-wrapper">
                                    <span class="original-price">22,900</span>
                                    <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                                </dd>
                                <dd class="badge-wrapper">
                                    <i class="bm-icon badge-event">이벤트특가</i>
                                </dd>
                            </dl>
                        </a>
                    </li>

                    <li>
                        <a class="thumbnail-box" href="#">
                            <div class="thumbnail">
                                <img src="./img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                                <div class="overlay">
                                    <p class="txt">새벽배송</p>
                                    <p class="txt">전국택배</p>
                                </div>
                            </div>

                            <dl class="content">
                                <dt class="title">[집밥의완성] 1월 제철박스</dt>
                                <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                                <dd class="price-wrapper">
                                    <span class="original-price">22,900</span>
                                    <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                                </dd>
                                <dd class="badge-wrapper">
                                    <i class="bm-icon badge-event">이벤트특가</i>
                                </dd>
                            </dl>
                        </a>
                    </li>

                    <li>
                        <a class="thumbnail-box" href="#">
                            <div class="thumbnail">
                                <img src="./img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                                <div class="overlay">
                                    <p class="txt">새벽배송</p>
                                    <p class="txt">전국택배</p>
                                </div>
                            </div>

                            <dl class="content">
                                <dt class="title">[집밥의완성] 1월 제철박스</dt>
                                <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                                <dd class="price-wrapper">
                                    <span class="original-price">22,900</span>
                                    <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                                </dd>
                                <dd class="badge-wrapper">
                                    <i class="bm-icon badge-event">이벤트특가</i>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- .content-group -->
    </div>
    <!-- .sliding-list-box -->

    <a href="#" class="more">밑반찬 전체보기
        <i class="bm-icon btn-arrow-more"></i>
    </a>
</section>