<section id="soup" class="main-item sliding-list-section">
    <header>
        <h2 class="blind">국, 찌개 - 김이 모락모락 국, 찌개</h2>
        <img src="./img/txt-header-soup.png" alt="국, 찌개 - 김이 모락모락 국, 찌개">
    </header>

    <div class="sliding-list-box">
        <div class="direction-btn-box">
            <a class="btn prev" href="#" title="이전 리스트 보기">
                <i class="bm-icon spr-btn-arrow-sliding-list prev"></i>
            </a>
            <a class="btn next" href="#" title="다음 리스트 보기">
                <i class="bm-icon spr-btn-arrow-sliding-list next"></i>
            </a>
        </div>

        <ul class="content-group"></ul>
    </div>
    <!-- .sliding-list-box -->

    <a href="#" class="more">국,찌개 전체보기
        <i class="bm-icon btn-arrow-more"></i>
    </a>
</section>