<header id="header">
    <h3 class="blind">주요 메뉴 및 검색</h3>

    <a class="logo" href="/">
        <img src="./img/logo-main.png" alt="배민찬 - 모바일 넘버원 반찬가게" />
    </a>

    <form class="search-form" action="/" method="get" onsubmit="return false;">
        <label for="searching_text" class="blind">검색</label>
        <input type="text" name="searching_text" id="searching_text" autocomplete="off"/>
        <button type="submit">
            <span>검색</span>
        </button>
        <div class="search-list-container">
        <ul class="search-list-box">
        </ul>
        </div>
    </form>

    <ul class="favorite-menu">
        <li>
            <a href="#">
                <img src="./img/txt-link-best-menu.png" alt="제일 잘 팔리는 [베스트]" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="./img/txt-link-reasonable-menu.jpg" alt="일단 클릭! [알뜰쇼핑]">
            </a>
        </li>
    </ul>
</header>