<!-- footer -->
<footer id="footer">
    <section>
        <h2 class="blind">배민찬 고객서비스</h2>

        <div class="cs-services">
            <article class="quick-menu">
                <h3 class="blind">퀵메뉴</h3>

                <ul>
                    <li class="early-delivery">
                        <a href="#">
                            <i class="icon"></i>
                            새벽배송 안내
                        </a>
                    </li>
                    <li class="favorite-question">
                        <a href="#">
                            <i class="icon"></i>
                            자주하는 질문
                        </a>
                    </li>
                    <li class="regular-delivery">
                        <a href="#">
                            <i class="icon"></i>
                            정기배송 안내
                        </a>
                    </li>
                    <li class="group-order">
                        <a href="#">
                            <i class="icon"></i>
                            단체주문 안내
                        </a>
                    </li>
                </ul>
            </article>

            <article class="notice">
                <header>
                    <h3 class="title">공지사항</h3>
                    <a href="#" class="more">
                        <i class="bm-icon btn-txt-more"></i>
                        <span class="blind">더보기</span>
                    </a>
                </header>

                <ul class="list bm-list dark">
                    <li>
                        <a href="#">[배민찬 시스템 정기점검 안내</a>
                    </li>
                    <li>
                        <a href="#">[공지] 12월 26일(화), 1월 2일(화) 배송휴무 안내</a>
                    </li>
                    <li>
                        <a href="#">[공지] 배민찬 서버 점검 안내</a>
                    </li>
                    <li>
                        <a href="#">[공지] 개인정보처리방침 개정 안내</a>
                    </li>
                </ul>
            </article>

            <article class="contact">
                <h3 class="title">고객센터</h3>
                <p class="phone">1899-2468</p>
                <ul class="time">
                    <li>
                        <em>평&nbsp;&nbsp;&nbsp;일</em>06:30 ~ 18:00</li>
                    <li>
                        <em>토요일</em>06:30 ~ 15:00</li>
                </ul>
                <p class="etc">일요일 / 공휴일 휴무</p>
                <p class="etc">* 배송있는 공휴일은 운영</p>
            </article>
        </div>

        <div class="company">
            {{> include/component/company-info }}

            <article class="social">
                <h3 class="blind">회사 Social Media</h3>
                <ul>
                    <li class="naver-blog">
                        <a href="#" target="_blank">
                            <span class="blind">배민찬 NAVER blog</span>
                        </a>
                    </li>
                    <li class="facebook">
                        <a href="#" target="_blank">
                            <span class="blind">배민찬 Facebook</span>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
    </section>
</footer>
<!-- // footer -->