<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/js/main.js"></script>
    <script src="/js/categories.js" ></script>

    <link rel="stylesheet" href="/categories.css" />
</head>
<body>
    <div class="container-box">
        <div class="container">


        </div>

        <div class="category-create">
            CREATE
        </div>
    </div>

    <div class="update-holder">
        <input type="text" name="title" id="title-input">
    </div>

</body>
</html>