<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>배민푸드 메인페이지</title>
  <link rel="stylesheet" href="/main.css" />
</head>

<body>
  <h1 class="blind">배민찬 - 메인 페이지</h1>

  <div id="scroll-btns">
    <button class="up" title="페이지 맨 위로 이동하기"></button>
    <button class="down" title="페이지 맨 아래로 이동하기"></button>
  </div>

  {{> includes/index-header}}

  <!-- main-container -->
  <main id="main">
    <section id="main-visual" class="main-visual-section visual-slider-box">
      <h2 class="blind">주요 프로모션</h2>

      <ul class="img-box">
        <li class="img-item img-1 current">
          <a href="#">
            <span class="blind">장윤주 식단 대공개! 그녀의 건강 반찬을 소개합니다.</span>
          </a>
        </li>
        <li class="img-item img-2 next">
          <a href="#">
            <span class="blind">스페인 그 식당이 안 부러운 비빔밥&apm;한식요리 기획전</span>
          </a>
        </li>
        <li class="img-item img-3">
          <a href="#">
            <span class="blind">월화수목금 매일매일 터지는 오늘의 찬스를 확인하세요!</span>
          </a>
        </li>
        <li class="img-item img-4">
          <a href="#">
            <span class="blind">가격따라 고르는 재미가 쏠쏠해요. 알뜰반찬 기획전 3,300원부터!</span>
          </a>
        </li>
        <li class="img-item img-5 prev">
          <a href="#">
            <span class="blind">2018 미슐랭 가이드도 반한 '게방식당'을 소개합니다.</span>
          </a>
        </li>
      </ul>

      <div class="direction-btn-box">
        <a class="bm-icon spr-btn-arrow-main-slide prev" href="#" title="이전 슬라이드 보기"></a>
        <a class="bm-icon spr-btn-arrow-main-slide next" href="#" title="다음 슬라이드 보기"></a>
      </div>

      <div class="dot-btn-box">
        <a class="dot on" href="#"></a>
        <a class="dot" href="#"></a>
        <a class="dot" href="#"></a>
        <a class="dot" href="#"></a>
        <a class="dot" href="#"></a>
      </div>
    </section>

    <section id="best-seller" class="main-item">
      <div class="inner-wrapper">
        <header>
          <h2 class="blind">베스트셀러 - 후기가 증명하는 베스트 반찬</h2>
          <img src="/img/txt-header-best.png" alt="베스트셀러 - 후기가 증명하는 베스트 반찬">
        </header>

        <div class="tab-box">
          <ul class="tab-btn-box">
            <li>
              <a data-category-id="17011200" href="#">할인특가 세트상품</a>
            </li>
            <li>
              <a data-category-id="17011000" href="#">풍성한 고기반찬</a>
            </li>
            <li>
              <a data-category-id="17011100" href="#">바다향가득 반찬</a>
            </li>
            <li>
              <a data-category-id="17010200" href="#">편리한 반찬세트</a>
            </li>
            <li>
              <a data-category-id="17010300" href="#">간편한 덮밥요리</a>
            </li>
            <li>
              <a data-category-id="17011400" href="#">우리아이영양반찬</a>
            </li>
          </ul>

          <ul class="tab-content-group-box">
            <li class="on">
              <ul class="tab-content-box">
                <li>
                  <a class="thumbnail-box" href="#">
                    <div class="thumbnail">
                      <img src="/img/img-best-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                      <div class="overlay">
                        <p class="txt">새벽배송</p>
                        <p class="txt">전국택배</p>
                      </div>
                      <div class="badge-wrapper">
                        <i class="bm-icon badge-event">이벤트특가</i>
                      </div>
                    </div>

                    <dl class="content">
                      <dt class="title">[집밥의완성] 1월 제철박스 제철박스 제철박스 제철박스</dt>
                      <dd class="desc">둘이서 한 끼 먹기 딱 좋아요. 둘이서 한 끼 먹기 딱 좋아요. 둘이서 한 끼 먹기 딱 좋아요</dd>
                      <dd class="price-wrapper">
                        <span class="original-price">22,900</span>
                        <span class="final-price">
                          <span class="number">20,500</span>
                          <span class="unit">원</span>
                        </span>
                      </dd>
                    </dl>
                  </a>
                </li>

                <li>
                  <a class="thumbnail-box" href="#">
                    <div class="thumbnail">
                      <img src="/img/img-best-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                      <div class="overlay">
                        <p class="txt">새벽배송</p>
                        <p class="txt">전국택배</p>
                      </div>
                      <div class="badge-wrapper">
                        <i class="bm-icon badge-best">베스트</i>
                      </div>
                    </div>

                    <dl class="content">
                      <dt class="title">[집밥의완성] 1월 제철박스</dt>
                      <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                      <dd class="price-wrapper">
                        <span class="original-price">22,900</span>
                        <span class="final-price">
                          <span class="number">20,500</span>
                          <span class="unit">원</span>
                        </span>
                      </dd>
                    </dl>
                  </a>
                </li>

                <li>
                  <a class="thumbnail-box" href="#">
                    <div class="thumbnail">
                      <img src="/img/img-best-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                      <div class="overlay">
                        <p class="txt">새벽배송</p>
                        <p class="txt">전국택배</p>
                      </div>
                      <div class="badge-wrapper">
                        <i class="bm-icon badge-event">이벤트특가</i>
                      </div>
                    </div>

                    <dl class="content">
                      <dt class="title">[집밥의완성] 1월 제철박스</dt>
                      <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                      <dd class="price-wrapper">
                        <span class="original-price">22,900</span>
                        <span class="final-price">
                          <span class="number">20,500</span>
                          <span class="unit">원</span>
                        </span>
                      </dd>
                    </dl>
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <ul class="tab-content-box">
                <li>
                  <a class="thumbnail-box" href="#">
                    <div class="thumbnail">
                      <img src="/img/img-best-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                      <div class="overlay">
                        <p class="txt">새벽배송</p>
                        <p class="txt">전국택배</p>
                      </div>
                      <div class="badge-wrapper">
                        <i class="bm-icon badge-event">이벤트특가</i>
                      </div>
                    </div>

                    <dl class="content">
                      <dt class="title">[집밥의완성] 1월 제철박스</dt>
                      <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                      <dd class="price-wrapper">
                        <span class="original-price">22,900</span>
                        <span class="final-price">
                          <span class="number">20,500</span>
                          <span class="unit">원</span>
                        </span>
                      </dd>
                    </dl>
                  </a>
                </li>

                <li>
                  <a class="thumbnail-box" href="#">
                    <div class="thumbnail">
                      <img src="/img/img-best-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                      <div class="overlay">
                        <p class="txt">새벽배송</p>
                        <p class="txt">전국택배</p>
                      </div>
                      <div class="badge-wrapper">
                        <i class="bm-icon badge-event">이벤트특가</i>
                      </div>
                    </div>

                    <dl class="content">
                      <dt class="title">[집밥의완성] 1월 제철박스</dt>
                      <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                      <dd class="price-wrapper">
                        <span class="original-price">22,900</span>
                        <span class="final-price">
                          <span class="number">20,500</span>
                          <span class="unit">원</span>
                        </span>
                      </dd>
                    </dl>
                  </a>
                </li>

                <li>
                  <a class="thumbnail-box" href="#">
                    <div class="thumbnail">
                      <img src="/img/img-best-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                      <div class="overlay">
                        <p class="txt">새벽배송</p>
                        <p class="txt">전국택배</p>
                      </div>
                      <div class="badge-wrapper">
                        <i class="bm-icon badge-event">이벤트특가</i>
                      </div>
                    </div>

                    <dl class="content">
                      <dt class="title">[집밥의완성] 1월 제철박스</dt>
                      <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                      <dd class="price-wrapper">
                        <span class="original-price">22,900</span>
                        <span class="final-price">
                          <span class="number">20,500</span>
                          <span class="unit">원</span>
                        </span>
                      </dd>
                    </dl>
                  </a>
                </li>
              </ul>
            </li>

          </ul>
          <!-- .tab-content-group-box -->
        </div>
        <!-- .tab-box -->
      </div>
    </section>

    <section id="side-dish" class="main-item sliding-list-section">
      <header>
        <h2 class="blind">밑반찬 - 언제 먹어도 든든한 밑반찬</h2>
        <img src="/img/txt-header-side.png" alt="밑반찬 - 언제 먹어도 든든한 밑반찬">
      </header>

      <div class="sliding-list-box">
        <div class="direction-btn-box">
          <a class="btn prev" href="#" title="이전 리스트 보기">
            <i class="bm-icon spr-btn-arrow-sliding-list prev"></i>
          </a>
          <a class="btn next" href="#" title="다음 리스트 보기">
            <i class="bm-icon spr-btn-arrow-sliding-list next"></i>
          </a>
        </div>


        <ul class="content-group">
          <li>
            <ul class="content-box">
              <li>
                <a class="thumbnail-box" href="#">
                  <div class="thumbnail">
                    <img src="/img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                    <div class="overlay">
                      <p class="txt">새벽배송</p>
                      <p class="txt">전국택배</p>
                    </div>
                  </div>

                  <dl class="content">
                    <dt class="title">[집밥의완성] 1월 제철박스 제철박스 제철박스 제철박스 제철박스 제철박스</dt>
                    <dd class="desc">둘이서 한 끼 먹기 딱 좋아요. 둘이서 한 끼 먹기 딱 좋아요. 둘이서 한 끼 먹기 딱 좋아요</dd>
                    <dd class="price-wrapper">
                      <span class="original-price">22,900</span>
                      <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                    </dd>
                    <dd class="badge-wrapper">
                      <i class="bm-icon badge-event">이벤트특가</i>
                    </dd>
                  </dl>
                </a>
              </li>

              <li>
                <a class="thumbnail-box" href="#">
                  <div class="thumbnail">
                    <img src="/img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                    <div class="overlay">
                      <p class="txt">새벽배송</p>
                      <p class="txt">전국택배</p>
                    </div>
                  </div>

                  <dl class="content">
                    <dt class="title">[집밥의완성] 1월 제철박스</dt>
                    <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                    <dd class="price-wrapper">
                      <span class="original-price">22,900</span>
                      <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                    </dd>
                    <dd class="badge-wrapper">
                      <i class="bm-icon badge-event">이벤트특가</i>
                    </dd>
                  </dl>
                </a>
              </li>

              <li>
                <a class="thumbnail-box" href="#">
                  <div class="thumbnail">
                    <img src="/img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                    <div class="overlay">
                      <p class="txt">새벽배송</p>
                      <p class="txt">전국택배</p>
                    </div>
                  </div>

                  <dl class="content">
                    <dt class="title">[집밥의완성] 1월 제철박스</dt>
                    <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                    <dd class="price-wrapper">
                      <span class="original-price">22,900</span>
                      <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                    </dd>
                    <dd class="badge-wrapper">
                      <i class="bm-icon badge-event">이벤트특가</i>
                    </dd>
                  </dl>
                </a>
              </li>

              <li>
                <a class="thumbnail-box" href="#">
                  <div class="thumbnail">
                    <img src="/img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                    <div class="overlay">
                      <p class="txt">새벽배송</p>
                      <p class="txt">전국택배</p>
                    </div>
                  </div>

                  <dl class="content">
                    <dt class="title">[집밥의완성] 1월 제철박스</dt>
                    <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                    <dd class="price-wrapper">
                      <span class="original-price">22,900</span>
                      <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                    </dd>
                    <dd class="badge-wrapper">
                      <i class="bm-icon badge-event">이벤트특가</i>
                    </dd>
                  </dl>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <ul class="content-box">
              <li>
                <a class="thumbnail-box" href="#">
                  <div class="thumbnail">
                    <img src="/img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                    <div class="overlay">
                      <p class="txt">새벽배송</p>
                      <p class="txt">전국택배</p>
                    </div>
                  </div>

                  <dl class="content">
                    <dt class="title">[집밥의완성] 1월 제철박스</dt>
                    <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                    <dd class="price-wrapper">
                      <span class="original-price">22,900</span>
                      <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                    </dd>
                    <dd class="badge-wrapper">
                      <i class="bm-icon badge-event">이벤트특가</i>
                    </dd>
                  </dl>
                </a>
              </li>

              <li>
                <a class="thumbnail-box" href="#">
                  <div class="thumbnail">
                    <img src="/img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                    <div class="overlay">
                      <p class="txt">새벽배송</p>
                      <p class="txt">전국택배</p>
                    </div>
                  </div>

                  <dl class="content">
                    <dt class="title">[집밥의완성] 1월 제철박스</dt>
                    <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                    <dd class="price-wrapper">
                      <span class="original-price">22,900</span>
                      <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                    </dd>
                    <dd class="badge-wrapper">
                      <i class="bm-icon badge-event">이벤트특가</i>
                    </dd>
                  </dl>
                </a>
              </li>

              <li>
                <a class="thumbnail-box" href="#">
                  <div class="thumbnail">
                    <img src="/img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                    <div class="overlay">
                      <p class="txt">새벽배송</p>
                      <p class="txt">전국택배</p>
                    </div>
                  </div>

                  <dl class="content">
                    <dt class="title">[집밥의완성] 1월 제철박스</dt>
                    <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                    <dd class="price-wrapper">
                      <span class="original-price">22,900</span>
                      <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                    </dd>
                    <dd class="badge-wrapper">
                      <i class="bm-icon badge-event">이벤트특가</i>
                    </dd>
                  </dl>
                </a>
              </li>

              <li>
                <a class="thumbnail-box" href="#">
                  <div class="thumbnail">
                    <img src="/img/img-sub-dish.jpg" alt="[집밥의완성] 1월 제철박스" />
                    <div class="overlay">
                      <p class="txt">새벽배송</p>
                      <p class="txt">전국택배</p>
                    </div>
                  </div>

                  <dl class="content">
                    <dt class="title">[집밥의완성] 1월 제철박스</dt>
                    <dd class="desc">둘이서 한 끼 먹기 딱 좋아요</dd>
                    <dd class="price-wrapper">
                      <span class="original-price">22,900</span>
                      <span class="final-price">
                        <span class="number">20,500</span>
                        <span class="unit">원</span>
                      </span>
                    </dd>
                    <dd class="badge-wrapper">
                      <i class="bm-icon badge-event">이벤트특가</i>
                    </dd>
                  </dl>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- .content-group -->
      </div>
      <!-- .sliding-list-box -->

      <a href="#" class="more">밑반찬 전체보기
        <i class="bm-icon btn-arrow-more"></i>
      </a>
    </section>

    <div class="banner banner-1">
      <a href="#">맛있고 간편한 반찬을 찾으신다면? 배민찬이 만드는 집밥의 완성</a>
    </div>

    <section id="main-dish" class="main-item sliding-list-section">
      <header>
        <h2 class="blind">메인반찬 - 담기만 하면 완성되는 메인반찬</h2>
        <img src="/img/txt-header-main.png" alt="메인반찬 - 담기만 하면 완성되는 메인반찬">
      </header>

      <div class="sliding-list-box">
        <div class="direction-btn-box">
          <a class="btn prev" href="#" title="이전 리스트 보기">
            <i class="bm-icon spr-btn-arrow-sliding-list prev"></i>
          </a>
          <a class="btn next" href="#" title="다음 리스트 보기">
            <i class="bm-icon spr-btn-arrow-sliding-list next"></i>
          </a>
        </div>

        <ul class="content-group"></ul>
      </div>
      <!-- .sliding-list-box -->

      <a href="#" class="more">메인반찬 전체보기
        <i class="bm-icon btn-arrow-more"></i>
      </a>
    </section>

    <div class="banner banner-2">
      <a href="#">판교에서 가장 핫한 반찬가게! 대접하는 마음으로, 소중한 식사</a>
    </div>

    <section id="soup" class="main-item sliding-list-section">
      <header>
        <h2 class="blind">국, 찌개 - 김이 모락모락 국, 찌개</h2>
        <img src="/img/txt-header-soup.png" alt="국, 찌개 - 김이 모락모락 국, 찌개">
      </header>

      <div class="sliding-list-box">
        <div class="direction-btn-box">
          <a class="btn prev" href="#" title="이전 리스트 보기">
            <i class="bm-icon spr-btn-arrow-sliding-list prev"></i>
          </a>
          <a class="btn next" href="#" title="다음 리스트 보기">
            <i class="bm-icon spr-btn-arrow-sliding-list next"></i>
          </a>
        </div>

        <ul class="content-group"></ul>
      </div>
      <!-- .sliding-list-box -->

      <a href="#" class="more">국,찌개 전체보기
        <i class="bm-icon btn-arrow-more"></i>
      </a>
    </section>
  </main>
  <!-- // main-container -->

{{> includes/index-footer}}


</body>

</html>