<div id="footer">
    <div class="wrap fnb_wrap">
        <div class="content">
            <ul class="fnb">
                <li>
                    <a href="/content/company.php">회사소개</a>
                </li>
                <li>
                    <a href="/content/partnership.php">제휴문의</a>
                </li>
                <li>
                    <a href="/content/corporate.php">단체구매문의</a>
                </li>
                <li>
                    <a href="/board/?db=notice&amp;no=26&amp;mari_mode=view%40view&amp;cate=&amp;page=1">이메일 무단 수집거부</a>
                </li>
                <li>
                    <a href="/rules/service.php">이용약관</a>
                </li>
                <li class="strong">
                    <a href="/rules/privacy.php">개인정보처리방침</a>
                </li>
                <li class="last">
                    <a href="/board/?db=notice">공지사항</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="wrap fnb_info_wrap">
        <div class="content">
            <ul class="fnb_info_lst">
                <li>(주)우아한신선들</li>
                <li>대표이사 : 박일한</li>
                <li>사업자등록번호 : 110-81-97233 [
                    <a href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=1108197233 " target="_blank">
                        <span>사업자 정보확인</span>
                    </a>]
                </li>
                <li class="last">통신판매업신고 : 제2015-서울송파-1733호</li>
                <li>
                    <address>주소 : 서울특별시 송파구 올림픽로 348, 6층(방이동)</address>
                </li>
                <li>개인정보담당자 : 김용재</li>
                <li>이메일 :
                    <a href="mailto:privacy@baeminchan.com">
                        <span>privacy@baeminchan.com</span>
                    </a>
                </li>
                <li class="last">고객센터 : 1899-2468</li>
                <li class="last">고객님의 안전거래를 위해 현금 등으로 결제 시 LG U+의 구매안전 서비스를 이용하실 수 있습니다. [
                    <a href="https://pgweb.dacom.net/pg/wmp/mertadmin/jsp/mertservice/s_escrowYn.jsp?mertid=ws_dummerce" target="_blank">
                        <span>서비스 가입사실 확인</span>
                    </a>]
                </li>
            </ul>

            <p class="copyright">©Woowahan Fresh. All Rights Reserved.</p>
            <p class="bottom_copy">
                배민찬은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 배민찬은 상품 거래정보 및 거래에 대해 책임지지 않습니다.
                <br> 다만 회사가 판매하는 직매입 상품의 경우 판매업체의 지위를 갖게 됩니다.
            </p>
        </div>
    </div>
</div>
