<!-- footer -->
<footer id="footer">
    <section>
        <h2 class="blind">배민찬 고객서비스</h2>

        <div class="cs-services">
            <article class="quick-menu">
                <h3 class="blind">퀵메뉴</h3>

                <ul>
                    <li class="early-delivery">
                        <a href="#">
                            <i class="icon"></i>
                            새벽배송 안내
                        </a>
                    </li>
                    <li class="favorite-question">
                        <a href="#">
                            <i class="icon"></i>
                            자주하는 질문
                        </a>
                    </li>
                    <li class="regular-delivery">
                        <a href="#">
                            <i class="icon"></i>
                            정기배송 안내
                        </a>
                    </li>
                    <li class="group-order">
                        <a href="#">
                            <i class="icon"></i>
                            단체주문 안내
                        </a>
                    </li>
                </ul>
            </article>

            <article class="notice">
                <header>
                    <h3 class="title">공지사항</h3>
                    <a href="#" class="more">
                        <i class="bm-icon btn-txt-more"></i>
                        <span class="blind">더보기</span>
                    </a>
                </header>

                <ul class="list bm-list dark">
                    <li>
                        <a href="#">[배민찬 시스템 정기점검 안내</a>
                    </li>
                    <li>
                        <a href="#">[공지] 12월 26일(화), 1월 2일(화) 배송휴무 안내</a>
                    </li>
                    <li>
                        <a href="#">[공지] 배민찬 서버 점검 안내</a>
                    </li>
                    <li>
                        <a href="#">[공지] 개인정보처리방침 개정 안내</a>
                    </li>
                </ul>
            </article>

            <article class="contact">
                <h3 class="title">고객센터</h3>
                <p class="phone">1899-2468</p>
                <ul class="time">
                    <li>
                        <em>평&nbsp;&nbsp;&nbsp;일</em>06:30 ~ 18:00</li>
                    <li>
                        <em>토요일</em>06:30 ~ 15:00</li>
                </ul>
                <p class="etc">일요일 / 공휴일 휴무</p>
                <p class="etc">* 배송있는 공휴일은 운영</p>
            </article>
        </div>

        <div class="company">
            <nav class="company-menu">
                <h3 class="blind">회사 정보 메뉴</h3>
                <ul>
                    <li>
                        <a href="#">회사소개</a>
                    </li>
                    <li>
                        <a href="#">제휴문의</a>
                    </li>
                    <li>
                        <a href="#">단체구매문의</a>
                    </li>
                    <li>
                        <a href="#">이메일 무단 수집거부</a>
                    </li>
                    <li>
                        <a href="#">이용약관</a>
                    </li>
                    <li>
                        <a href="#">
                            <strong>개인정보처리방침</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">공지사항</a>
                    </li>
                </ul>
            </nav>

            <article class="information">
                <h3 class="blind">회사 정보</h3>
                <ul>
                    <li>(주)우아한신선들</li>
                    <li>대표이사 : 박일한</li>
                    <li>사업자등록번호 : 110-81-97233 [
                        <a href="#">사업자 정보확인</a>]</li>
                    <li>통신판매업신고 : 제2015-서울송파-1733호</li>
                    <li>
                        <address>주소 : 서울특별시 송파구 위례성대로 2, 5층(방이동, 장은빌딩)</address>
                    </li>
                    <li>개인정보담당자 : 김용재</li>
                    <li>이메일 :
                        <a href="mailto:privacy@baeminchan.com">privacy@baeminchan.com</a>
                    </li>
                    <li>고객센터 : 1899-2468</li>
                </ul>

                <p class="safety-service">
                    고객님의 안전거래를 위해 현금 등으로 결제 시 LG U+의 구매안전 서비스를 이용하실 수 있습니다. [
                    <a href="#">서비스 가입사실 확인</a>]
                    </li>

                <p class="copyright">&copy;Woowahan Fresh. All Rights Reserved.</p>

                <p class="responsibility">
                    배민찬은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 배민찬은 상품 거래정보 및 거래에 대해 책임지지 않습니다.
                    <br> 다만 회사가 판매하는 직매입 상품의 경우 판매업체의 지위를 갖게 됩니다.
                </p>
            </article>

            <article class="social">
                <h3 class="blind">회사 Social Media</h3>
                <ul>
                    <li class="naver-blog">
                        <a href="#" target="_blank">
                            <span class="blind">배민찬 NAVER blog</span>
                        </a>
                    </li>
                    <li class="facebook">
                        <a href="#" target="_blank">
                            <span class="blind">배민찬 Facebook</span>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
    </section>
</footer>
<!-- // footer -->