<section class="header-box">
    <h2 class="blind">메뉴 모음</h2>

    <nav id="snb">
        <div class="inner-wrapper">
            <h3 class="blind">사이드 메뉴</h3>

            <a class="app-download" href="#">
                배민찬 앱 다운로드
                <i class="bm-icon spr-bullet-arrow-down black"></i>
            </a>

            <ul class="menu">
                <li>
                    <a href="/login">로그인</a>
                </li>
                <li>
                    <a href="/join">회원가입</a>
                </li>
                <li>
                    <a href="#">
                        마이페이지
                        <i class="bm-icon spr-bullet-arrow-down black"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        고객센터
                        <i class="bm-icon spr-bullet-arrow-down black"></i>
                    </a>
                </li>
                <li>
                    <a href="#">새벽배송 지역검색</a>
                </li>
                <li>
                    <a href="#">이벤트 게시판</a>
                </li>
                <li class="cart">
                    <a href="#">
                        <strong>장바구니</strong>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <header id="header">
        <h3 class="blind">주요 메뉴 및 검색</h3>

        <a class="logo" href="#">
            <img src="/img/logo-main.png" alt="배민찬 - 모바일 넘버원 반찬가게" />
        </a>

        <form class="search-form" action="/" method="get">
            <label for="searching_text" class="blind">검색</label>
            <input type="text" name="searching_text" id="searching_text" />
            <button type="submit">
                <span>검색</span>
            </button>
        </form>

        <ul class="favorite-menu">
            <li>
                <a href="#">
                    <img src="/img/txt-link-best-menu.png" alt="제일 잘 팔리는 [베스트]" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/img/txt-link-reasonable-menu.jpg" alt="일단 클릭! [알뜰쇼핑]">
                </a>
            </li>
        </ul>
    </header>

    <nav id="gnb">
        <div class="inner-wrapper">
            <h3 class="blind">전체 메뉴</h3>

            <ul class="menu">
                <li>
                    <a href="/side-dishs.html">밑반찬</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">무침</a>
                        </li>
                        <li>
                            <a href="#">나물무침</a>
                        </li>
                        <li>
                            <a href="#">볶음</a>
                        </li>
                        <li>
                            <a href="#">조림</a>
                        </li>
                        <li>
                            <a href="#">김치</a>
                        </li>
                        <li>
                            <a href="#">전</a>
                        </li>
                        <li>
                            <a href="#">튀김</a>
                        </li>
                        <li>
                            <a href="#">장아찌·피클</a>
                        </li>
                        <li>
                            <a href="#">샐러드</a>
                        </li>
                        <li>
                            <a href="#">김</a>
                        </li>
                        <li>
                            <a href="#">젓갈·장·소스</a>
                        </li>
                        <li>
                            <a href="#">세트</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/side-dishs.html">국·찌개</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">담백한국</a>
                        </li>
                        <li>
                            <a href="#">얼큰한국</a>
                        </li>
                        <li>
                            <a href="#">찌개</a>
                        </li>
                        <li>
                            <a href="#">탕</a>
                        </li>
                        <li>
                            <a href="#">전골</a>
                        </li>
                        <li>
                            <a href="#">세트</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">메인반찬</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">고기반찬</a>
                        </li>
                        <li>
                            <a href="#">해산물반찬</a>
                        </li>
                        <li>
                            <a href="#">생선반찬</a>
                        </li>
                        <li>
                            <a href="#">덮밥</a>
                        </li>
                        <li>
                            <a href="#">면</a>
                        </li>
                        <li>
                            <a href="#">모던한식</a>
                        </li>
                        <li>
                            <a href="#">양식</a>
                        </li>
                        <li>
                            <a href="#">일식·중식</a>
                        </li>
                        <li>
                            <a href="#">분식</a>
                        </li>
                        <li>
                            <a href="#">죽·스프</a>
                        </li>
                        <li>
                            <a href="#">세트</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">아이반찬</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">이유식 초기/중기</a>
                        </li>
                        <li>
                            <a href="#">이유식 후기/완료기</a>
                        </li>
                        <li>
                            <a href="#">아이반찬</a>
                        </li>
                        <li>
                            <a href="#">어린이반찬</a>
                        </li>
                        <li>
                            <a href="#">프리미엄재료</a>
                        </li>
                        <li>
                            <a href="#">간식</a>
                        </li>
                        <li>
                            <a href="#">음료</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">정기식단</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">1~2인</a>
                        </li>
                        <li>
                            <a href="#">3~4인</a>
                        </li>
                        <li>
                            <a href="#">아이반찬</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">신선·가공</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">가공반찬</a>
                        </li>
                        <li>
                            <a href="#">가공간식</a>
                        </li>
                        <li>
                            <a href="#">냉동</a>
                        </li>
                        <li>
                            <a href="#">고기·생선</a>
                        </li>
                        <li>
                            <a href="#">과일·채소·양곡</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">간식</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">식사빵</a>
                        </li>
                        <li>
                            <a href="#">간식빵</a>
                        </li>
                        <li>
                            <a href="#">케이크·디저트</a>
                        </li>
                        <li>
                            <a href="#">주스</a>
                        </li>
                        <li>
                            <a href="#">스무디</a>
                        </li>
                        <li>
                            <a href="#">스프레드</a>
                        </li>
                        <li>
                            <a href="#">유제품·커피</a>
                        </li>
                        <li>
                            <a href="#">기타간식</a>
                        </li>
                    </ul>
                </li>
                <li class="brand">
                    <a href="#">브랜드관</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">반찬가게</a>
                        </li>
                        <li>
                            <a href="#">반찬장인</a>
                        </li>
                        <li>
                            <a href="#">셰프의요리</a>
                        </li>
                        <li>
                            <a href="#">전국맛집</a>
                        </li>
                        <li>
                            <a href="#">키즈관</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</section>